@font-face {
  font-family: 'honokamaru';
  src: url("../font/honokamaru.ttf") format("truetype");
}

@font-face {
  font-family: 'honokamaru';
  src: url("./font/Butler_Bold.ttf") format("truetype");
}

@media screen and (max-width: 768px) {
  header {
    height: 180vw;
  }
  header .header-background-image-container {
    width: 125%;
    height: 240vw;
    -webkit-transform: translateY(-15vw) rotate(20deg);
            transform: translateY(-15vw) rotate(20deg);
  }
  header .header-background-image-container .header-img-box-pc1 {
    width: 60vw;
    -webkit-transform: translateY(-180vw);
            transform: translateY(-180vw);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  header .header-background-image-container .header-img-box-pc1 .header-image-pc {
    height: 35vw;
    background-color: chocolate;
    margin: 12vw 0;
  }
  header .header-background-image-container .header-img-box-sp1 {
    width: 26vw;
    margin: 0 6vw;
    -webkit-transform: translateY(180vw);
            transform: translateY(180vw);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    padding: 0%;
  }
  header .header-background-image-container .header-img-box-sp1 .header-image-sp {
    height: 42vw;
    width: 100%;
    background-color: chocolate;
    margin: 9vw 0;
  }
  header .header-background-image-container .header-img-box-pc2 {
    display: none;
  }
  header .header-background-image-container .H-IMG-toggle1 {
    -webkit-transform: translateY(0vw);
            transform: translateY(0vw);
  }
  header .header-background-image-container .H-IMG-toggle2 {
    -webkit-transform: translateY(0vw);
            transform: translateY(0vw);
  }
  header .header-background-image-container .H-IMG-toggle3 {
    -webkit-transform: translateY(0vw);
            transform: translateY(0vw);
  }
  header .header-title-nav-box #title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-wrap: break-word;
    overflow: hidden;
    color: white;
    font-size: 8vw;
    top: 33vw;
    left: 3vw;
  }
  header .header-title-nav-box .nav {
    top: 60vw;
    left: 8vw;
  }
  header .header-title-nav-box .nav ul li {
    padding: 3vw 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: translateX(-80vw);
            transform: translateX(-80vw);
  }
  header .header-title-nav-box .nav ul li a {
    font-size: 7vw;
  }
  header .header-title-nav-box .nav ul li a:hover {
    text-decoration: none;
    font-size: 8vw;
  }
  #go-top {
    position: fixed;
    width: 7vw;
    height: 7vw;
    z-index: 99;
    right: 2%;
    bottom: 2%;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform: translateY(15vw);
            transform: translateY(15vw);
  }
  #go-top .go-top-img {
    width: 100%;
    height: 100%;
  }
  #section1 {
    background-color: bisque;
    height: 190vw;
  }
  #section1 h2 {
    font-size: 8vw;
    opacity: 0;
    -webkit-transition: all 2s;
    transition: all 2s;
    padding: 2vw 0 0 0;
  }
  #section1 .is-show {
    opacity: 1 !important;
  }
  #section1 #section1-row-box {
    height: 165vw;
  }
  #section1 .section1-paddingbox1 {
    display: none;
  }
  #section1 .section1-img-box {
    position: absolute;
    width: 80%;
    height: 55vw;
    background-color: #91c0c0;
    top: 16vw;
    right: 6vw;
    z-index: 2;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding: 2vw;
  }
  #section1 .section1-img-box .section1-img {
    -o-object-fit: cover;
       object-fit: cover;
    background: url(./img/section1-video.MP4);
    background-position: center 26%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(40%);
            filter: grayscale(40%);
  }
  #section1 .section1-text-box {
    position: absolute;
    width: 80%;
    height: 55vw;
    background-color: #7d8383;
    top: 6vw;
    left: 4vw;
    z-index: 2;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding: 2vw;
  }
  #section1 .section1-text-box .section1-text {
    font-size: 4vw;
  }
  #section1 .section1-img-Shadow1 {
    position: absolute;
    width: 80%;
    height: 55vw;
    background-color: black;
    top: 18vw;
    right: 4vw;
    z-index: 1;
  }
  #section1 .section1-Shadow2 {
    position: absolute;
    width: 80%;
    height: 55vw;
    background-color: black;
    top: 8vw;
    left: 6vw;
    z-index: 1;
  }
  #section2 h2 {
    font-size: 8vw;
  }
  #section3 h2 {
    font-size: 8vw;
  }
  #section4 h2 {
    font-size: 8vw;
  }
}
/*# sourceMappingURL=sp.css.map */